<div class="container">
  <div class="card">
    <div class="d-flex flex-column">
      <div class="quiz-header">
        <div class="question-remain">
          <h3>Question 1 of 10</h3>
        </div>
      </div>
      <div class="question">
        <div class="">
          <h3>What is your name?</h3>
        </div>
      </div>
      <div class="options">
        <ol>
          <li>A</li>
          <li>b</li>
          <li>c</li>
        </ol>
      </div>
      <div class="d-flex justify-content-between">

      </div>

<!--      <p *ngFor="let tempData of data">Question</p>-->

    </div>
  </div>
</div>



