
<div class="container">
  <div class="">
    <form class="d-flex flex-column questionnaireForm">


      <div *ngFor="let tempQuestion of questionsList" (load)="shuffleOptions()">
        <div class="quiz-header">
          <div class="question-remain">
            <h3>Question {{questionsList.indexOf(tempQuestion) + 1}} of {{questionsList.length}}</h3>
          </div>
        </div>
        <div class="question">
          <div class="">
            <h3>{{tempQuestion.question}}</h3>
          </div>
        </div>
        <div  class="options">
          <ul  style="list-style: none; padding-left: 0px">
<!--            <li class="option-card">-->
<!--              <input (click)="addPoints()" name='action' type="radio">-->
<!--              <label>{{tempQuestion.correctAnswer}}</label>-->
<!--            </li>-->
<!--            <li class="option-card">-->
<!--              <input name='action' type="radio">-->
<!--              <label>{{tempQuestion.incorrectAnswers[0]}}</label>-->
<!--            </li>-->
<!--            <li class="option-card">-->
<!--              <input name='action' type="radio">-->
<!--              <label>{{tempQuestion.incorrectAnswers[1]}}</label>-->
<!--            </li>-->
<!--            <li class="option-card">-->
<!--              <input name='action' type="radio">-->
<!--              <label>{{tempQuestion.incorrectAnswers[2]}}</label>-->
<!--            </li>         -->




            <li class="option-card">
              <input (click)="addPoints()" name='{{tempQuestion.id}}' type="radio">
              <label>{{tempQuestion.correctAnswer}}</label>
            </li>
            <li class="option-card">
              <input name='{{tempQuestion.id}}' type="radio">
              <label>{{tempQuestion.incorrectAnswers[0]}}</label>
            </li>
            <li class="option-card">
              <input name='{{tempQuestion.id}}' type="radio">
              <label>{{tempQuestion.incorrectAnswers[1]}}</label>
            </li>
            <li class="option-card">
              <input name='{{tempQuestion.id}}' type="radio">
              <label>{{tempQuestion.incorrectAnswers[2]}}</label>
            </li>
          </ul>
        </div>
      </div>

      <button class='completeButton btn btn-primary btn-lg' type="button" routerLink="/quiz-results" (click)="computeResults()">Complete Test</button>

<!--      <p *ngFor="let tempQuestion of questionsList">Question</p>-->

    </form>
  </div>
</div>



